@model IEnumerable<DairyMVC.Models.tblProduct>

@{
    ViewBag.Title = "ViewProduct";
}

<h2>ViewProduct</h2>

<p>
    @Html.ActionLink("Add New Entry ", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <span class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id = item.id }) </span></td>
            <td>
                <span class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.id })</span>
        </td>
    </tr>
}

</table>

<a href="@Url.Action("Login","Home")">Back to Main Page </a>